extends master

block about-navbar-element
    li.active: a(href="/about") About

block main-content
    .hero-unit
        h1.text-center About The Server
        p.lead.
            mathphreak ran a vanilla server for his friends last summer, and got into FTB a few months ago.
            He decided to go ahead and run an FTB server this time around.
    .row
        .span4
            h2 Spawn
            p.
                Spawn is an integral part of the server community.
                With player-created shops as well as villager-based shops, spawn is a place you'll never want to leave.
                Because it's awesome.
        .span4
            h2 Teleportation
            p.
                We allow players to teleport to VoxelMap waypoints.  Because we're awesome.
        .span4
            h2 Easy Config
            p  We use GregTech easy mode and the Advanced Solar Panels easy recipes.  Download the entire config 
                a(href="/config.zip",download="mathphreak-ftb-server-config.zip") here
                .